body {
  background: #ffffff;
  color: black;
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
}

.logo-web {
  color: #2196f3;
}
